body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: black;
  }
  
  .bg {
    
    background-image: url("logo.png");
  
    
    height: 100%;
    width: 100%; 
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.player {
    height: 75vh;
    width: 350vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

#track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("martin.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 10%;
    box-shadow: 3px 3px 10px black;
    
}

#now-playing {
    font-size: 1rem;
    color: azure;
}

#track-name {
    font-size: 3rem;
    color: white;
}

#track-artist {
    font-size: 1.5rem;
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

#playpause-track, #prev-track, #next-track {
    padding: 25px;
    opacity: 0.5;
    transition: opacity .2s;
    color: azure;
} 

#playpause-track:hover, #prev-track:hover, #next-track:hover {
    opacity: 1.0;
    color: azure;
    transform: scale(1.5);
    transition: all 1s;
}

.slider_container {
    width: 75%;
    max-width: 4000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
}

#seek_slider, #volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    color: azure;
}

#seek_slider:hover, #volume_slider:hover {
    opacity: 1.0;
}

#seek_slider {
    width: 60%;
    color: azure;
}

#volume_slider {
    width: 30%;
    color: azure;
}

.current_time, #total-duration {
    padding: 10px;
    color: azure;
}

i.fa-volume-down, i.fa-volume-up {
  padding: 10px;
  color: azure;
}

i.fa-compact-disc,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

.name {
opacity: 1.0;
position: fixed;
top: 5%;
left: 5%;
font-size: 120px;
color: azure;
font-family: 'Teko', sans-serif;
}

.np {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    position: relative;
    top: 1%;
    left: 20%;
    color: azure;
}

#song-name {
    font-family: 'Teko', sans-serif;
    font-size: 80px;
    color: azure;
    position: relative;
    top: 5%;
    left: 20%;

}

